.index__search-panel__2onkP_0 {
  position: absolute;
  top: 80px;
  left: 816px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 999;
  width: 428px;
}
.index__search-panel__2onkP_0 img {
  vertical-align: middle;
}
.index__search-panel__2onkP_0 .index__checkbox-tag__3EuM1_0 {
  box-sizing: border-box;
  padding: 4px 10px;
  line-height: 26px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 360px;
}
.index__search-panel__2onkP_0 .index__checkbox-tag__3EuM1_0.index__active__2pWQ2_0 {
  border: 1px solid #ff6868;
  color: #ff6868;
  font-weight: 700;
}
.index__search-panel__2onkP_0 .index__checkbox-tag__3EuM1_0:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.index__search-panel__2onkP_0 > header {
  height: 52px;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 24px;
  position: relative;
}
.index__search-panel__2onkP_0 > header h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 52px;
}
.index__search-panel__2onkP_0 > header .index__back__3_nCJ_0 {
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
  line-height: 12px;
  line-height: 52px;
  cursor: pointer;
}
.index__search-panel__2onkP_0 > header .index__back__3_nCJ_0 img {
  vertical-align: middle;
}
.index__search-panel__2onkP_0 > header .index__pick-up__17qet_0 {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.index__search-panel__2onkP_0 > main section {
  padding: 16px 24px;
  position: relative;
}
.index__search-panel__2onkP_0 > main section header {
  position: relative;
}
.index__search-panel__2onkP_0 > main section header .index__title__2d7cY_0 {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-right: 10px;
}
.index__search-panel__2onkP_0 > main section header .index__sub-title__1U8y4_0 {
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.index__search-panel__2onkP_0 > main .index__more-result__7fXU7_0 {
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.index__search-panel__2onkP_0 > main .index__filter-list__2bWYe_0 .index__site-tag__1mI1l_0 {
  display: inline-block;
  margin-right: 14px;
  margin-top: 16px;
}
.index__search-panel__2onkP_0 > main .index__filter-list__2bWYe_0 .index__site-tag__1mI1l_0:first-child {
  margin-left: 0;
}
.index__search-panel__2onkP_0 > main .index__filter-list__2bWYe_0 .index__site-tag__1mI1l_0:last-child {
  margin-right: 0;
}
.index__search-panel__2onkP_0 > main .index__keyword-excavate__3MGza_0 {
  border-top: 1px solid #f0f0f0;
}
.index__search-panel__2onkP_0 > main .index__keyword-excavate__3MGza_0 .index__keyword-tag__2FH7G_0 {
  margin-top: 16px;
}
.index__search-panel__2onkP_0 > main .index__search-history__3MLKx_0 {
  letter-spacing: 0.4px;
  line-height: 20px;
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
}
.index__search-panel__2onkP_0 > main .index__search-history__3MLKx_0 header .index__main__sZ1Nd_0 {
  color: #959595;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px;
}
.index__search-panel__2onkP_0 > footer {
  border-top: 1px solid #f0f0f0;
  padding: 16px 0;
  text-align: center;
}
.index__search-panel__2onkP_0 > footer .index__search-button__DiA9Y_0 {
  appearance: none;
  border: 0 none;
  padding: 0;
  margin: 0;
  width: 125px;
  height: 36px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6868;
  line-height: 36px;
  font-weight: 300;
  cursor: pointer;
}
.index__search-panel__2onkP_0 > footer .index__search-button__DiA9Y_0:hover {
  color: #fff;
  background-color: #ec4a4c;
  border-color: #ec4a4c;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 {
  padding: 0 24px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__title__Fjwsi_0 {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding: 16px 0;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__add-container__1-0Zv_0 {
  position: relative;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__add-container__1-0Zv_0 .addFilter__add-input__3USyY_0 {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 14px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding-left: 12px;
  padding-right: 44px;
  box-sizing: border-box;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__add-container__1-0Zv_0 .addFilter__tips__1bsiC_0 {
  color: #ff6868;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__add-container__1-0Zv_0 .addFilter__add-button__3x8AK_0 {
  position: absolute;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  right: 0;
  top: 0;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__header__2kncL_0 .addFilter__add-container__1-0Zv_0 .addFilter__add-button__3x8AK_0 img {
  vertical-align: middle;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 > .addFilter__title__Fjwsi_0 {
  padding-top: 24px;
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-left: 24px;
  padding-bottom: 10px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 {
  overflow-y: auto;
  height: 240px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0::-webkit-scrollbar-track-piece {
  background-color: transparent;
  width: 5px;
  border-radius: 4px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #dcdcdc;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li {
  padding: 10px 24px;
  position: relative;
  margin: 0;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li .addFilter__href__2YoKW_0 {
  font-size: 14px;
  color: #b7b7b7;
  letter-spacing: 0;
  line-height: 20px;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li:hover {
  background: #fafafa;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li:hover .addFilter__href__2YoKW_0 {
  color: #454545;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li:hover .addFilter__remove__DqdUe_0 {
  visibility: visible;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li .addFilter__remove__DqdUe_0 {
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
  visibility: hidden;
}
.addFilter__advanced-search-add-filter__3q0Wi_0 > .addFilter__main__2xpHr_0 .addFilter__filter-list-container__3uZyd_0 ul li .addFilter__remove__DqdUe_0 img {
  vertical-align: middle;
}
.moreKeyword__checkbox-tag__3HBDd_0 {
  box-sizing: border-box;
  padding: 4px 10px;
  line-height: 26px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 360px;
}
.moreKeyword__checkbox-tag__3HBDd_0.moreKeyword__active__3w2kW_0 {
  border: 1px solid #ff6868;
  color: #ff6868;
  font-weight: 700;
}
.moreKeyword__checkbox-tag__3HBDd_0:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__header__oA_kw_0 {
  padding: 10px 24px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__header__oA_kw_0 .moreKeyword__title__3Ixnq_0 {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-right: 14px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__header__oA_kw_0 .moreKeyword__sub-title__3i3Xm_0 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0 {
  overflow-y: auto;
  height: 400px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0::-webkit-scrollbar-track-piece {
  background-color: transparent;
  width: 5px;
  border-radius: 4px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #dcdcdc;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0 .moreKeyword__keyword-list__18-S4_0 {
  padding: 10px 24px;
}
.moreKeyword__advanced-search-more-keyword__xpQmL_0 > .moreKeyword__main__38qTZ_0 .moreKeyword__keyword-list-container__2evrr_0 .moreKeyword__keyword-list__18-S4_0:hover {
  background: #fafafa;
}
.moreHistory__checkbox-tag__12BmO_0 {
  box-sizing: border-box;
  padding: 4px 10px;
  line-height: 26px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 360px;
}
.moreHistory__checkbox-tag__12BmO_0.moreHistory__active__aKtxy_0 {
  border: 1px solid #ff6868;
  color: #ff6868;
  font-weight: 700;
}
.moreHistory__checkbox-tag__12BmO_0:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__header__3XGKr_0 {
  padding: 10px 24px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__header__3XGKr_0 .moreHistory__title__2CEXI_0 {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0.4px;
  line-height: 20px;
  padding-right: 14px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__header__3XGKr_0 .moreHistory__sub-title__30lBz_0 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #b7b7b7;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0 {
  overflow-y: auto;
  height: 400px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0::-webkit-scrollbar-track-piece {
  background-color: transparent;
  width: 5px;
  border-radius: 4px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #dcdcdc;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0 .moreHistory__history-list__1KK7g_0 {
  padding: 10px 24px;
}
.moreHistory__advanced-search-more-history__VoIZy_0 > .moreHistory__main__1AmfH_0 .moreHistory__history-list-container__Ib5bM_0 .moreHistory__history-list__1KK7g_0:hover {
  background: #fafafa;
}
.searchAll__search-all__NrDWF_0 {
  margin-bottom: 26px;
  font-size: 16px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  display: flex;
}
.searchAll__search-all__NrDWF_0 .searchAll__checkbox__3MsHy_0 {
  position: absolute;
  left: -30px;
  font-size: 16px;
}
.searchAll__search-all__NrDWF_0 .searchAll__selected__1Tjqx_0 {
  font-size: 14px;
  color: gray;
  letter-spacing: 0.4px;
}
.searchAll__search-all__NrDWF_0 .searchAll__selected__1Tjqx_0 span {
  color: #454545;
}
.searchAll__search-all__NrDWF_0 .searchAll__open-all__3ook1_0 {
  margin-left: 14px;
  font-size: 14px;
  color: #ff6868;
  letter-spacing: 0.4px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.checkbox-component > input[data-v-14994ef3] {
  opacity: 0;
  position: absolute;
}
.checkbox-component > input + label > .input-box[data-v-14994ef3] {
  display: inline-block;
  border: 1px solid #b7b7b7;
  border-radius: 14%;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  background: #fff;
  overflow: hidden;
  vertical-align: -5%;
  user-select: none;
}
.checkbox-component > input + label > .input-box > .input-box-tick[data-v-14994ef3] {
  width: 100%;
  height: 100%;
}
.checkbox-component > input + label > .input-box > .input-box-tick > path[data-v-14994ef3] {
  opacity: 0;
  stroke: #ff6868;
  stroke-width: 2.3px;
  stroke-dashoffset: 20;
  stroke-dasharray: 20;
  transition: stroke-dashoffset 0.15s ease-in;
}
.checkbox-component > input + label > .input-box--default > .input-box-tick[data-v-14994ef3] {
  margin-bottom: 2px;
}
.checkbox-component > input + label > .input-box--default > .input-box-tick > path[data-v-14994ef3] {
  stroke: #000;
}
.checkbox-component > input:checked + label > .input-box[data-v-14994ef3] {
  border: 1px solid #ff6868;
}
.checkbox-component > input:checked + label > .input-box > .input-box-tick > path[data-v-14994ef3] {
  opacity: 1;
  stroke-dashoffset: 0;
}
.checkbox-component > input:checked + label > .input-box--default[data-v-14994ef3] {
  border: 1px solid #000;
}
.checkbox-component > input:disabled + label[data-v-14994ef3] {
  opacity: 0.7;
}
.searchItem__search-item__Ncxfg_0 {
  width: 79px;
  position: absolute;
  left: -79px;
  top: 0;
  font-size: 16px;
}
.searchItem__search-item__Ncxfg_0 .searchItem__crawl__EqP62_0 {
  background: #2ad2a2;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
  width: 38px;
  height: 16px;
  text-align: center;
  line-height: 16px;
}
.searchItem__search-item__Ncxfg_0 .searchItem__crawl__EqP62_0 span {
  transform: scale(0.8333333333);
  display: inline-block;
  vertical-align: middle;
}
.searchItem__search-item__Ncxfg_0 .searchItem__checkbox__3kj8q_0 {
  position: absolute;
  left: 49px;
  top: 0;
}
.mk_filter div:not(.searchItem__search-item__Ncxfg_0),
.mk_filter h3 {
  opacity: 0.5;
}
.searchButton__advanced-button__PWEkZ_0 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(167px);
  background: #ff6868;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  width: 133px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.searchButton__advanced-button__PWEkZ_0:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.minidiv .searchButton__advanced-button__PWEkZ_0 {
  height: 34px;
  line-height: 34px;
  border-radius: 16px;
}
